/* 
	css for number slider
	started with http://konigi.com/tools/css-tooltips-and-speech-bubbles
	@author zz85
*/

#rslider {
position:absolute;
left:50%;
width:10px;
height:18px;
border-radius:0 6px 6px 0;

}

#lslider {
position:absolute;
right:50%;
width:10px;
height:18px;
border-radius:6px 0 0 6px;



}

#track {
width:100%;
height:100%;
z-index:100;
position:absolute;
}

.slider {
	/*	background-color: #ddd;*/
	opacity: 0.8;
	background-image: linear-gradient(bottom, rgb(150,150,150) 0%, rgb(80,80,80) 80%, rgb(50,50,50) 100%);
background-image: -o-linear-gradient(bottom, rgb(150,150,150) 0%, rgb(80,80,80) 80%, rgb(50,50,50) 100%);
background-image: -moz-linear-gradient(bottom, rgb(150,150,150) 0%, rgb(80,80,80) 80%, rgb(50,50,50) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(150,150,150) 0%, rgb(80,80,80) 80%, rgb(50,50,50) 100%);
background-image: -ms-linear-gradient(bottom, rgb(150,150,150) 0%, rgb(80,80,80) 80%, rgb(50,50,50) 100%);

} 

#vtrack {
height:18px;
width:100%;
}

#bubble {
color:#fff;
background-color:#000;
margin-top:-25px;
margin-left:-100px;
text-align:center;
width:200px;
min-width:10px;
border-radius:10px;
-webkit-box-shadow: 1px 1px 20px 0px rgba(255,255,255,0.5);
-moz-box-shadow: 1px 1px 20px 0px rgba(255,255,255,0.5);
box-shadow:1px 1px 20px 0px rgba(255,255,255,0.5);
padding:3px;

position: absolute;


}

#bubble:after {
position:absolute;
display:block;
content:"";
height:0;
width:0;
left:0;
right:0;
bottom:-19px;
border-color:#000 transparent transparent;
border-style:solid;
border-width:10px;
margin:auto;
/* ohoh box shadow doesn't work here. perhaps we need to try the 45deg rotation trick? */
}

.hideBubble {
	display:none;
}

.showBubble {
	opacity: 1;
	display:block;
}

.fadeBubble {
	opacity: 0;
}

.animateBubble {	
	-webkit-transition: opacity 0.8s ease-in ;
	-moz-transition: opacity 0.8s ease-in;
}